@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
#carouselExample .carousel-item img {
  height: 400px;
  object-fit: cover;
  background: rgba(0, 0, 0, .5);
}
#carouselExample .carousel-caption-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}




// Define custom styles for h1 and search bar

 h1 {
  color: #ffffff; /* Change font color of h1 */
  text-align: left;
  width: 50%;
  margin: 120px ;

}


.carousel-caption-overlay {

  position: absolute;
  bottom: 0;
  top: 30%;
  left: 0;
  right: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.carousel-caption-overlay h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form-control {
  font-family: "Open Sans", sans-serif;

  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
}

.b {
  font-family: "Open Sans", sans-serif;
  background-color:  #4B6587;
  margin: 1px;
  border: none;
  padding: 0.5rem 1rem;
  font-size:10px;
  margin-left: -1px;
  transition: background-color 0.3s ease, transform 0.5s ease; /* Added transform transition */
  text-transform:capitalize;


}
.search .b{
  color: #ffffff;
font-weight: 700;



}

.btn-primary:hover {
  background: #ff00e1;
}

.form-select {
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
}

.form-select:focus {
  box-shadow: none;
}

.input-group-text {
  border: 2px solid red ;
  background: none;
  font-size: 1.2rem;
  width: 50px;
  text-align: center;
}

.input-group-text i {
  line-height: 2.5;
}

.input-group-append .btn {
  border-left: none;
}

.col-md-4 {
  padding: 0.5rem;
}

.carousel-caption-overlay button {
  font-family: "Open Sans", sans-serif;

  font-weight: 700;
  background-color:  #4B6587;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  width: 10%;
  margin:60px 120px ;
}

.carousel-caption-overlay button:hover {
  background-color: #D20062; /* Darker blue color on hover */
}


/* Styling for select inputs */
select.form-select {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  border: 1px solid #ced4da; /* Border color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Box shadow for a pop-in effect */
  transition: all 0.3s ease; /* Smooth transition */
}

/* Hover effect for select inputs */
select.form-select:hover {
  border-color: #adb5bd; /* Border color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}



@media (max-width: 576px) {
  .carousel-caption-overlay h1 {
    font-size: 10px; /* Adjust font size for smaller screens */
    width: 80%;
    margin-left: 10px;
  }
  .carousel-caption-overlay button {

    background-color: #ff8c00; /* Blue color */
    color: white;
    padding: 10px 60px;
    font-size: 10px;
    border-radius: 5px;
    width: 70%;
    margin-left: 10px;
    margin-top: 10px;
  }

}




@media screen and (max-width:1024px) {
  .carousel-caption-overlay h1 {
    font-size: 30px; /* Adjust font size for smaller screens */
    width: 80%;
    margin-left: 10px;
  }
  .carousel-caption-overlay button {


    background-color: #ff8c00; /* Blue color */
    color: white;
    padding: 10px 60px;
    font-size: 10px;
    width: 70%;
    margin-left: 10px;
    margin-top: 10px;
  }
}


.carousel-caption-overlay {


  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
