<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3"  [style.background-color]="isScrolled ? 'white' : ''" [class.shadow]="isScrolled">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><img src="../../../assets/logo.svg" alt=""></a>

    <!-- Toggle button -->
    <button

      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-expanded="false"
      aria-label="Toggle navigation"

    >
    <i class="fas fa-bars custom-color"></i>
  </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
      [ngClass]="{'show': navbarOpen}"
    >
      <!-- Centered links -->
      <ul class="navbar-nav mb-2 mb-lg-0 text-center text-lg-start"  >
        <li class="nav-item" >
          <a class="nav-link " aria-current="page" routerLink="/"  [style.color]="isScrolled ? '#002247' : 'white'" [class.color]="isScrolled">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  [style.color]="isScrolled ? '#002247' : 'white'" [class.color]="isScrolled">RENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  [style.color]="isScrolled ? '#002247' : 'white'" [class.color]="isScrolled">SELL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  [style.color]="isScrolled ? '#002247' : 'white'" [class.color]="isScrolled">BUY</a>
        </li>

      <li class="nav-item">
        <a class="nav-link" href="#"  [style.color]="isScrolled ? '#002247' : 'white'" [class.color]="isScrolled">ABOUT</a>
      </li>

      </ul>
    </div>

    <!-- Collapsible wrapper -->

    <!-- Login/Register buttons -->
    <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'show': navbarOpen}">
      <ul class="navbar-nav mb-2 mb-lg-0 text-center text-lg-start">
        <li class="nav-item">
          <a class="nav-link login" routerLink="/create">
            <i class="fas fa-plus-circle"></i> Post <!-- Correct the icon class -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link register" routerLink="/signin">
            <i class="fas fa-user"></i> Sign In
          </a>
        </li>
      </ul>
    </div>

  </div>

</nav>
