<section class="carousel">
  <div class="carousel__container">
    <div *ngFor="let Post of post" class="carousel-item">
      <span class="prix">{{ Post.prix}}</span>
      <img [src]='"http://localhost:8090/post/"+Post.id+"/images"' />

      <div class="carousel-item__details">
        <div class="controls">

        </div>

        <h5 class="carousel-item__details--title">{{ Post.title }}</h5>
        <p class="carousel-item__details--subtitle">{{ Post.desc }}</p>
      </div>
    </div>

  </div>
</section>
