  <!-- <section class="bg-light p-3 p-md-4 p-xl-5" >
    <div class="container" style="margin-top: 50px;">
      <div class="row justify-content-center">
        <div class="col-12 col-xxl-11">
            <div class="row g-0">

              <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="col-12 col-lg-11 col-xl-10">
                  <div class="card-body p-3 p-md-4 p-xl-5">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-5">
                          <div class="text-center mb-4">
                            <a href="#!">
                              <img src="../../../assets/logo.svg" alt="BootstrapBrain Logo" width="175" height="57">
                            </a>
                          </div>
                          <h2 class="h4 text-center">Signin</h2>
                        </div>
                      </div>
                    </div>

                    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                      <div class="row gy-3 overflow-hidden">
                        <div class="col-12">
                          <div class="form-floating mb-3">
                            Username
                            <input type="text" class="form-control" id="username" name="username" placeholder="First Name" [(ngModel)]="form.username" required>
                            <label for="username" class="form-label"></label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="form.password" placeholder="Password" required>
                            <label for="password" class="form-label">Password</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="d-grid">
                            <button class="btn custom-btn" type="submit">Signin</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="row">
                      <div class="col-12">
                        <p class="mb-0 mt-5 text-secondary text-center">I don't have an account? <a routerLink="/signup" class="link-primary text-decoration-none">Sign in</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section> -->

  <div class="container-fluid my-5 p-5 card shadow-lg bg-white rounded border-0" style="width: auto;">
    <div class="row d-flex justify-content-between align-items-center py-lg-4 px-4">

        <div class="col-lg-6 d-none d-lg-block">
            <h2 class="h2">Login to Start Buying your Dream Home</h2>
            <h6 class="h6 pb-2">Dont have an account?<a href="../signup" class="link">Signup</a></h6>
            <img src="../../assets/loginimg.png" class="img-fluid pt-5" />
        </div>

        <div class="col-lg-4 mb-3">
            <!-- Log in Error Messages -->
            <div class="alert alert-danger d-flex align-items-center mt-4" role="alert" *ngIf="successFlag">
                <i class="material-icons"> warning </i>
                <div class="ms-2">Login credentials are invalid</div>
            </div>
            <div class="alert alert-danger d-flex align-items-center mt-4" role="alert" *ngIf="errorFlag">
                <i class="material-icons"> warning </i>
                <div class="ms-2">Invalid Creditianls</div>
            </div>

            <!-- Log in form -->
            <h2 class="h2 d-lg-none">Login to Start Buying your</h2>
            <h2 class="h2 d-lg-none">Dream Home</h2>
            <h4 class="h2 text-center d-none d-lg-block">Log In</h4>
            <form (ngSubmit)="signInSubmit(signInForm)" #signInForm="ngForm">
                <div class="mb-4 form-group">
                    <label for="username" class="form-label lsp weig1 mt-5">Username</label>
                    <input type="text" class="form-control mt-2 pd py-4 lsp weig2 border-0 brad" id="username"
                        name="username" [(ngModel)]="user.username" #username="ngModel" placeholder="JohnDoe19"
                        required />
                    <p class="small text-danger my-2" *ngIf="username.dirty && username.invalid">
                        Username can't be empty !
                    </p>
                </div>

                <div class="mb-3 form-group">
                    <label for="password" class="form-label lsp weig1">Password</label>
                    <input type="password" class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="password"
                        name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="********"
                        required />
                    <p class="small text-danger my-2" *ngIf="password.dirty && password.invalid">
                        Password can't be empty !
                    </p>
                </div>

                <button type="submit" class="btn color px-5 lsp mt-5 shadow-lg" style="margin:auto;display:block"
                    [disabled]="signInForm.pristine || signInForm.invalid">
                    LOGIN
                </button>
            </form>
            <h6 class="h6 pb-1 d-lg-none text-center">Dont have an account?<a href="../signup" class="link">Signup</a>
            </h6>

        </div>
    </div>
</div>
