<!-- <ul class="menu">
  <li><button (click)="Houses()" [ngClass]="{'btn btn-info mt-5':true,'menuBT':menu=='Houses'}">Houses</button></li>
  <li><button (click)="SmartHome()" [ngClass]="{'btn btn-info mt-5':true,'menuBT':menu=='Smart Home'}">Smart Home</button></li>
  <li><button (click)="Apartement()" [ngClass]="{'btn btn-info mt-5':true,'menuBT':menu=='Apartement'}">Apartement</button></li>
  <li><button (click)="Office()" [ngClass]="{'btn btn-info mt-5':true,'menuBT':menu=='Office'}">Office</button></li>
  <li><button (click)="bugalow()" [ngClass]="{'btn btn-info mt-5':true,'menuBT':menu=='bugalow'}">bugalow</button></li>
</ul> -->
