.menu{
  display:flex;
  text-align: center;
  list-style-type: none;
  margin-left: 350px;
}
.menu li{
  margin-left: 20px;
  text-decoration: none;
}
.menuBT{
  background-color: white;
  color:#54b4d3;
}
