<app-navbar />
  <div class="container">

    <div class="mb-3 form-group">
    <h1>Create new post</h1>
    <form (submit)="Create()">
      <fieldset>
        <div class="form-group">
          <label for="title">Post Title</label>
          <input [(ngModel)]="post.title" type="text" class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="title" placeholder="RENT HOUSE ">
        </div>
        <div class="form-group">
          <label for="Lieu">Location</label>
          <input [(ngModel)]="post.lieu" type="text"  class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="lieu" placeholder="EZZAHRA">
        </div>

        <div class="form-group">
          <label for="prix">Price</label>
          <input [(ngModel)]="post.prix" type="text"  class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="prix" placeholder="3000">
        </div>
        <div class="form-group">
          <label for="superficie">Area</label>
          <input [(ngModel)]="post.superficie" type="text" class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="superficie" placeholder="area">
        </div>
        <div class="form-group">
          <label for="chambres">Rooms</label>
          <input [(ngModel)]="post.chambres" type="text"  class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="chambres" placeholder="4">
        </div>
        <div class="form-group">
          <label for="sallesDeBains">Bathroom</label>
          <input type="text" [(ngModel)]="post.sallesDeBains" class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="sallesDeBains" placeholder="1">
        </div>
        <div class="form-group">
          <label for="images">Images</label>
          <input (change)="selectImage($event)" type="file"  class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="images" multiple>
        </div>
        <div class="form-group">
          <label for="title">Type de transaction</label>
          <select  class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" [(ngModel)]="post.typeDeTransaction" id="selection" class="form-control w-50">
            <option value="">Liste de choix...</option>
            <option value="A louer">RENT</option>
            <option value="A vendre">BUY</option>
          </select>
        </div>
        <div class="form-group">
          <label for="selection">Type</label>
          <select [(ngModel)]="post.type" id="selection" class="form-control w-50">
            <option value="">Liste de choix...</option>
            <option value="Houses">Houses</option>
            <option value="Smart Home">Smart Home</option>
            <option value="Apartement">Apartement</option>
            <option value="Office">Office</option>
            <option value="bugalow">bugalow</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <textarea [(ngModel)]="post.description" class="form-control mt-2 py-4 pd lsp weig2 border-0 brad" id="bio" rows="2"></textarea>
        </div>
        <button type="submit" class="form-control bg-dark border-0 brad" style="color: white;">Create</button>
      </fieldset>
    </form>
  </div>

  </div>
